header {
	position: fixed;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

header .logo {
	margin: 24px 0 0 24px;
	line-height: 0;
	width: 125px;
	height: auto;
}

header .logo img {
	width: 100%;
	height: auto;
}

header .logo .mobile-main-menu-container {
	display: none;
}

header .logo .mobile-main-menu-container .main-menu {
	padding: 0;
	margin: 0;
}

header .logo .mobile-main-menu-container .main-menu .menu-item a {
	text-decoration: none;
	color: var(--wp--preset--color--just-black);
	font-size: 16px;
	line-height: 18px;
}

header .logo .mobile-main-menu-container .main-menu .menu-item a:hover {
	color: #666666;
}

header .social-buttons {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0 0 32px 24px;
}

header .social-buttons .text {
	display: none;
	line-height: 18px;
}

header .social-buttons .main-menu-container .main-menu {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
}

header .social-buttons .main-menu-container .main-menu .menu-item a {
	text-decoration: none;
	color: var(--wp--preset--color--just-black);
	font-size: 16px;
	line-height: 18px;
}

header .social-buttons .main-menu-container .main-menu .menu-item a:hover {
	color: #666666;
}

header .social-buttons .buttons {
	display: flex;
	gap: 24px;
	line-height: 0;
}

header .social-buttons .buttons a:hover {
	filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(97%) contrast(90%);
}

@media screen and (max-width: 1279px) {
	header {
		position: absolute;
		width: 216px;
		height: auto;
		left: unset;
		top: 0;
	}

	header .logo {
		margin-left: 0;
		width: 96px;
	}

	header .social-buttons {
		margin: 24px 0 0;
      /*.text {
        display: flex;
      }*/;
	}

	.single header,
  .page:not(.home) header {
		position: relative;
		flex-direction: row;
		width: 100%;
	}

	.single header .social-buttons,
    .page:not(.home) header .social-buttons {
		flex-direction: row;
		gap: 32px;
		align-items: flex-start;
		height: fit-content;
	}

	.single header .social-buttons .text,
      .page:not(.home) header .social-buttons .text {
		display: none;
	}

	.single header .social-buttons .main-menu-container .main-menu,
      .page:not(.home) header .social-buttons .main-menu-container .main-menu {
		display: flex;
		gap: 24px;
	}

	.page:not(.home) header {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 991px) {
	header {
		position: relative;
		flex-direction: row;
		width: 100%;
		left: unset;
		margin-bottom: 50px;
	}

	header .logo {
		margin: 24px 0 0;
	}

	header .social-buttons {
		margin: 24px 0 0;
		flex-direction: row;
		gap: 32px;
		align-items: flex-start;
		height: fit-content;
	}

	header .social-buttons .text {
		display: none;
	}

	header .social-buttons .buttons {
		gap: 20px;
	}

	header .social-buttons .main-menu-container .main-menu {
		display: flex;
		gap: 24px;
	}

	.single header {
		margin-bottom: 73px;
	}

	.single header .logo .mobile-main-menu-container,
  .page:not(.home) header .logo .mobile-main-menu-container {
		display: block;
		margin-top: 32px;
	}

	.single header .logo .mobile-main-menu-container .main-menu,
    .page:not(.home) header .logo .mobile-main-menu-container .main-menu {
		display: flex;
		flex-direction: column;
		gap: 0;
		line-height: 18px;
	}

	.single header .logo .mobile-main-menu-container .main-menu li:not(:last-child),
      .page:not(.home) header .logo .mobile-main-menu-container .main-menu li:not(:last-child) {
		margin-bottom: 7px;
	}

	.single header .social-buttons .main-menu-container,
  .page:not(.home) header .social-buttons .main-menu-container {
		display: none;
	}

	.page:not(.home) header {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 640px) {
	header {
		margin-bottom: 24px;
	}

	header .logo .mobile-main-menu-container {
		display: block;
		margin-top: 32px;
	}

	header .logo .mobile-main-menu-container .main-menu {
		display: flex;
		flex-direction: column;
		gap: 0;
		line-height: 18px;
	}

	header .logo .mobile-main-menu-container .main-menu li:not(:last-child) {
		margin-bottom: 7px;
	}

	header .social-buttons .main-menu-container {
		display: none;
	}

	.single header .logo .mobile-main-menu-container {
		display: block;
	}

	.single header .social-buttons .main-menu-container {
		display: none;
	}
}