.product-ba {
	display: flex;
	width: 100%;
	gap: 24px;
	margin: 0;
}

.product-ba .product-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1;
}

.product-ba .product-info .top {
	display: flex;
	gap: 8px;
}

.product-ba .product-info .top .left {
	flex: 0 1 45%;
	position: relative;
	line-height: 0;
	max-width: 196px;
}

.product-ba .product-info .top .left .image img {
	width: 100%;
	height: auto;
}

.product-ba .product-info .top .left .image .product {
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.3s;
}

.product-ba .product-info .top .left .image .front {
	position: absolute;
	left: 0;
	top: 0;
}

.product-ba .product-info .top .left .image.hovered .product {
	transform: rotate(-5deg) translateY(-50px);
}

.product-ba .product-info .top .right {
	flex: 1 1 55%;
	max-width: 268px;
	padding: 87px 0 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-ba .product-info .top .right .title {
	font-family: var(--wp--preset--font-family--loos-wide);
	font-size: 31px;
	line-height: 31px;
	margin: 0;
}

.product-ba .product-info .top .right .grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 15px;
}

.product-ba .product-info .top .right .grid .text {
	line-height: 18px;
	display: flex;
	gap: 3px;
}

.product-ba .product-info .top .right .grid .text img {
	height: 16px;
	width: auto;
	margin-top: -2px;
}

.product-ba .product-info .top .right .grid .text.bad span {
	opacity: 0.4;
}

.product-ba .product-info .top .right .grid .text.fail span {
	opacity: 0.4;
}

.product-ba .product-info .bottom {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.product-ba .product-info .bottom .name {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.08em;
	border-bottom: 2px solid var(--wp--preset--color--just-black);
	margin: 0;
}

.product-ba .product-info .bottom .prices {
	display: flex;
	gap: 36px;
	z-index: 1;
}

.product-ba .product-info .bottom .prices .price {
	display: flex;
	gap: 8px;
	align-items: center;
	color: var(--wp--preset--color--just-black);
	text-decoration: none;
}

.product-ba .product-info .bottom .prices .price .logos .logo {
	width: 32px;
	height: 32px;
	position: relative;
}

.product-ba .product-info .bottom .prices .price .logos .logo:not(:first-child) {
	margin-left: -10px;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(1) {
	z-index: 6;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(2) {
	z-index: 5;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(3) {
	z-index: 4;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(4) {
	z-index: 3;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(5) {
	z-index: 2;
}

.product-ba .product-info .bottom .prices .price .logos .logo:nth-child(6) {
	z-index: 1;
}

.product-ba .product-info .bottom .prices .price span {
	font-size: 18px;
	line-height: 22px;
}

.product-ba .product-info .bottom .caption {
	font-size: 16px;
	line-height: 18px;
	max-width: 426px;
}

.product-ba .before-after {
	flex: 1;
	position: relative;
	line-height: 0;
	margin-top: 79px;
}

.product-ba .before-after .after {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	max-width: 100%;
	height: 100%;
	background-size: cover;
	border-right: 4px solid #fff;
}

.product-ba .before-after .slider {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0.3);
	outline: none;
	margin: 0;
	transition: all .2s;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	display: none;
}

.product-ba .before-after .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 100%;
	background: white;
	cursor: pointer;
}

.product-ba .before-after .slider::-moz-range-thumb {
	width: 6px;
	height: 100%;
	background: white;
	cursor: pointer;
}

.product-ba .before-after .slider-button {
	pointer-events: none;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: white;
	left: calc(50% - 13px);
	top: calc(50% - 15px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.product-ba .before-after .slider-button:hover {
	cursor: pointer;
}

.product-ba .before-after .slider-button:after {
	content: '';
	padding: 3px;
	display: inline-block;
	border: solid #5D5D5D;
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
}

.product-ba .before-after .slider-button:before {
	content: '';
	padding: 3px;
	display: inline-block;
	border: solid #5D5D5D;
	border-width: 0 2px 2px 0;
	transform: rotate(135deg);
}

@media screen and (max-width: 991px) {
	.product-ba {
		flex-direction: column-reverse;
		gap: 0;
		margin: 48px 0 96px;
	}

	.product-ba .before-after {
		margin: 0;
	}

	.product-ba .product-info {
		margin-top: -20px;
	}
}

@media screen and (max-width: 640px) {
	.product-ba {
		flex-direction: column-reverse;
		gap: 8px;
		margin: 40px 0 80px;
	}

	.product-ba .before-after {
		margin: 0;
	}

	.product-ba .product-info {
		margin-top: 0;
		gap: 24px;
	}

	.product-ba .product-info .top {
		position: relative;
	}

	.product-ba .product-info .top .left {
		position: absolute;
		right: -20px;
		top: -150px;
		max-width: 120px;
		z-index: 1;
	}

	.product-ba .product-info .top .right {
		padding: 0;
		gap: 16px;
	}

	.product-ba .product-info .top .right .title {
		font-size: 28px;
		line-height: 29px;
		max-width: 225px;
	}

	.product-ba .product-info .top .right .grid .text {
		font-size: 17px;
		line-height: 22px;
	}

	.product-ba .product-info .top .right .grid .text img {
		margin-top: 0;
	}

	.product-ba .product-info .bottom .caption {
		font-size: 14px;
	}
}