.gallery-ba {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	gap: 8px;
}

.gallery-ba .before-after {
	display: flex;
	gap: 24px;
}

.gallery-ba .before-after .before {
	position: relative;
}

.gallery-ba .before-after .before p {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.gallery-ba .before-after .before .image-0 {
	position: relative;
	z-index: 1;
}

.gallery-ba .before-after .before .image-1,
      .gallery-ba .before-after .before .image-2,
      .gallery-ba .before-after .before .image-3,
      .gallery-ba .before-after .before .image-4,
      .gallery-ba .before-after .before .image-5 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

.gallery-ba .before-after .before .nav {
	position: absolute;
	bottom: 32px;
	z-index: 3;
	left: 0;
	width: calc(100% - 32px);
	padding: 0 16px;
	display: flex;
	gap: 8px;
}

.gallery-ba .before-after .before .nav .nav-item {
	height: 2px;
	flex: 1;
	opacity: 0.16;
	background-color: #000;
}

.gallery-ba .before-after .before .nav .nav-item-0 {
	opacity: 1;
}

.gallery-ba .before-after .after {
	position: relative;
}

.gallery-ba .before-after .after p {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.gallery-ba .before-after .after .image-0 {
	position: relative;
	z-index: 1;
}

.gallery-ba .before-after .after .image-1,
      .gallery-ba .before-after .after .image-2,
      .gallery-ba .before-after .after .image-3,
      .gallery-ba .before-after .after .image-4,
      .gallery-ba .before-after .after .image-5 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

.gallery-ba .before-after .after .nav {
	position: absolute;
	bottom: 32px;
	z-index: 3;
	left: 0;
	width: calc(100% - 32px);
	padding: 0 16px;
	display: flex;
	gap: 8px;
}

.gallery-ba .before-after .after .nav .nav-item {
	height: 2px;
	flex: 1;
	opacity: 0.16;
	background-color: #000;
}

.gallery-ba .before-after .after .nav .nav-item-0 {
	opacity: 1;
}

.gallery-ba .before-after.show-image-1 .image-1 {
	z-index: 2;
}

.gallery-ba .before-after.show-image-1 .nav-item-0 {
	opacity: 0.16 !important;
}

.gallery-ba .before-after.show-image-1 .nav-item-1 {
	opacity: 1 !important;
}

.gallery-ba .before-after.show-image-2 .image-2 {
	z-index: 2;
}

.gallery-ba .before-after.show-image-2 .nav-item-0 {
	opacity: 0.16 !important;
}

.gallery-ba .before-after.show-image-2 .nav-item-2 {
	opacity: 1 !important;
}

.gallery-ba .before-after.show-image-3 .image-3 {
	z-index: 2;
}

.gallery-ba .before-after.show-image-3 .nav-item-0 {
	opacity: 0.16 !important;
}

.gallery-ba .before-after.show-image-3 .nav-item-3 {
	opacity: 1 !important;
}

.gallery-ba .before-after.show-image-4 .image-4 {
	z-index: 2;
}

.gallery-ba .before-after.show-image-4 .nav-item-0 {
	opacity: 0.16 !important;
}

.gallery-ba .before-after.show-image-4 .nav-item-4 {
	opacity: 1 !important;
}

.gallery-ba .before-after.show-image-5 .image-5 {
	z-index: 2;
}

.gallery-ba .before-after.show-image-5 .nav-item-0 {
	opacity: 0.16 !important;
}

.gallery-ba .before-after.show-image-5 .nav-item-5 {
	opacity: 1 !important;
}

.gallery-ba .before-after-mobile {
	display: none;
}

.gallery-ba .before-after-mobile .before-after-item {
	flex: 1;
	position: relative;
	line-height: 0;
	display: none;
}

.gallery-ba .before-after-mobile .before-after-item .after {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	max-width: 100%;
	height: 100%;
	background-size: cover;
	border-right: 4px solid #fff;
}

.gallery-ba .before-after-mobile .before-after-item .slider {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0.3);
	outline: none;
	margin: 0;
	transition: all .2s;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	display: none;
}

.gallery-ba .before-after-mobile .before-after-item .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 100%;
	background: white;
	cursor: pointer;
}

.gallery-ba .before-after-mobile .before-after-item .slider::-moz-range-thumb {
	width: 6px;
	height: 100%;
	background: white;
	cursor: pointer;
}

.gallery-ba .before-after-mobile .before-after-item .slider-button {
	pointer-events: none;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: white;
	left: calc(50% - 13px);
	top: calc(50% - 15px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.gallery-ba .before-after-mobile .before-after-item .slider-button:hover {
	cursor: pointer;
}

.gallery-ba .before-after-mobile .before-after-item .slider-button:after {
	content: '';
	padding: 3px;
	display: inline-block;
	border: solid #5D5D5D;
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
}

.gallery-ba .before-after-mobile .before-after-item .slider-button:before {
	content: '';
	padding: 3px;
	display: inline-block;
	border: solid #5D5D5D;
	border-width: 0 2px 2px 0;
	transform: rotate(135deg);
}

.gallery-ba .before-after-mobile .nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.gallery-ba .before-after-mobile .nav .nav-image {
	width: 62px;
	height: 62px;
	cursor: pointer;
}

.gallery-ba .before-after-mobile.show-image-0 .before-after-item.image-0 {
	display: block;
}

.gallery-ba .before-after-mobile.show-image-0 .nav .nav-image-0 {
	opacity: 0.2;
}

.gallery-ba .before-after-mobile.show-image-1 .before-after-item.image-1 {
	display: block;
}

.gallery-ba .before-after-mobile.show-image-1 .nav .nav-image-1 {
	opacity: 0.2;
}

.gallery-ba .before-after-mobile.show-image-2 .before-after-item.image-2 {
	display: block;
}

.gallery-ba .before-after-mobile.show-image-2 .nav .nav-image-2 {
	opacity: 0.2;
}

.gallery-ba .before-after-mobile.show-image-3 .before-after-item.image-3 {
	display: block;
}

.gallery-ba .before-after-mobile.show-image-3 .nav .nav-image-3 {
	opacity: 0.2;
}

.gallery-ba .before-after-mobile.show-image-4 .before-after-item.image-4 {
	display: block;
}

.gallery-ba .before-after-mobile.show-image-4 .nav .nav-image-4 {
	opacity: 0.2;
}

@media screen and (max-width: 640px) {
	.gallery-ba .before-after {
		display: none;
	}

	.gallery-ba .before-after-mobile {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}