.note-spots {
  display: flex;
  width: 100%;
  max-width: 468px;
  flex-direction: column;
  gap: 16px;

  .heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    border-bottom: 2px solid var(--wp--preset--color--just-black);
    margin-bottom: 0;

    img {
      width: 14px;
      margin-bottom: -2px;
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .row {
      display: flex;
      gap: 16px;

      .text-left {
        max-width: 66px;
        display: flex;
        flex: 1;
        gap: 3px;

        img {
          height: 16px;
          width: auto;
        }

        &.gray {
          span {
            opacity: 0.4;
          }
        }
      }

      .text-right {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .note-spots {    
    .heading {
      font-size: 12px;
    }

    .rows {
      .row {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}