.separator {
  width: 100%;
  height: 2px;
  background-color: #000;
}

@media screen and (max-width: 1279px) {
  .separator {
  }
}

@media screen and (max-width: 991px) {
  .separator {
  }
}

@media screen and (max-width: 640px) {
  .separator {
  }
}